
.split {
    height:100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top:50%;
    overflow-x: hidden;
    padding-top: 20px;
    border: 5px;
    border-radius: 10px;
    border-color: white;
  }
  
  .left {
    left: 0;
    background-color: #111;
    color: white;
    font-size: 30px;
    font-weight: bold;
   
    
  }
  
  .right {
    right: 0;
    background-color: red;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }